In [1]:
import pandas as pd

In [2]:
data_preprocess = pd.read_csv('Datapreprocessing data.csv')

In [5]:
X = data_preprocess.iloc[:,:-1].values #all the values expect last target column selected

In [6]:
X

array([['France', 44.0, 72000.0],
       ['Spain', 27.0, 48000.0],
       ['Germany', 30.0, 54000.0],
       ['Spain', 38.0, 61000.0],
       ['Germany', 40.0, nan],
       ['France', 35.0, 58000.0],
       ['Spain', nan, 52000.0],
       ['France', 48.0, 79000.0],
       ['Germany', 50.0, 83000.0],
       ['France', 37.0, 67000.0]], dtype=object)

In [9]:
Y = data_preprocess.iloc[:,-1].values #last column

In [10]:
Y

array(['No', 'Yes', 'No', 'No', 'Yes', 'Yes', 'No', 'Yes', 'No', 'Yes'],
      dtype=object)

In [11]:
#handle missing values

In [17]:
data_preprocess.isnull().values.any() #Check if data has any missing values

True

In [18]:
data_preprocess

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [13]:
#Nan values are the missing values

In [15]:
from sklearn.preprocessing import Imputer  #this library contains methods and functions for preprocessing the data

In [19]:
imputer = Imputer(missing_values = 'NaN', strategy = 'mean', axis=0) #taking mean of column values and putting it in Nan values

C:\Users\00821554\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\utils\deprecation.py:58: DeprecationWarning: Class Imputer is deprecated; Imputer was deprecated in version 0.20 and will be removed in 0.22. Import impute.SimpleImputer from sklearn instead.
  warnings.warn(msg, category=DeprecationWarning)

In [20]:
imputer

Imputer(axis=0, copy=True, missing_values='NaN', strategy='mean', verbose=0)

In [23]:
imputer = imputer.fit(X[:,1:3]) #fitting object imputer to column 1 and 2 of X

In [24]:
X[:, 1:3] = imputer.transform(X[:, 1:3])

In [25]:
X

array([['France', 44.0, 72000.0],
       ['Spain', 27.0, 48000.0],
       ['Germany', 30.0, 54000.0],
       ['Spain', 38.0, 61000.0],
       ['Germany', 40.0, 63777.77777777778],
       ['France', 35.0, 58000.0],
       ['Spain', 38.77777777777778, 52000.0],
       ['France', 48.0, 79000.0],
       ['Germany', 50.0, 83000.0],
       ['France', 37.0, 67000.0]], dtype=object)

In [26]:
#Encode categorical data

In [27]:
from sklearn.preprocessing import LabelEncoder

In [28]:
labelencoder_X = LabelEncoder()

In [29]:
X[:,0] = labelencoder_X.fit_transform(X[:,0])

In [30]:
X

array([[0, 44.0, 72000.0],
       [2, 27.0, 48000.0],
       [1, 30.0, 54000.0],
       [2, 38.0, 61000.0],
       [1, 40.0, 63777.77777777778],
       [0, 35.0, 58000.0],
       [2, 38.77777777777778, 52000.0],
       [0, 48.0, 79000.0],
       [1, 50.0, 83000.0],
       [0, 37.0, 67000.0]], dtype=object)

In [ ]:
#but then here 2>1 and 1>0 which we don't want